<h1><%= @task.title %></h1>
<h1><%= @task.details %></h1>

<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit "Edit Task" %>
<% end %>
